$material-red: #F44336;
$material-purple: #9C27B0;
$material-blue: #2196F3;
$material-green: #4CAF50;
$material-orange: #FF5722;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

.highlight {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #fff;
  &:nth-of-type(5n+0) {
    background-color: $material-red;
  }
  &:nth-of-type(5n+1) {
    background-color: $material-purple;
  }
  &:nth-of-type(5n+2) {
    background-color: $material-blue;
  }
  &:nth-of-type(5n+3) {
    background-color: $material-green;
  }
  &:nth-of-type(5n+4) {
    background-color: $material-orange;
  }
}
.asterisk:before {
  content: "*";
}
.dash:after {
  content: " - ";
}
.spacebar:after {
  content: " ";
}
.prespace:before {
  content: " ";
}
.predash:before {
  content: " - ";
}
.pound:after {
  content: '#';
}
.ellipsis {
  text-overflow: ellipsis;
}
.parantheses:after {
  content: ") ";
}
.parantheses:before {
  content: " (";
}
.italic {
  font-style: italic;
}
.capitalize {
  text-transform: capitalize;
}
.upcase {
  text-transform: uppercase;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.bold {
  font-weight: bold;
}
.colon:after {
  content: ":";
}
.ellipsis:after {
  content: "...";
}
.hidden {
  display: none;
}
.comma:not(:last-child) {
  &:after {
    content: ",";
  }
}
.pointer {
  cursor: pointer;
}
.opaque {
  @include opacity(1);
}
.translucent {
  @include opacity(0.7);
}
.transparent {
  @include opacity(0);
}

.light-black {
  background: {
    color: #111 !important;
  }
}