.rectangle-card {
  @include border-radius(15px);
  @include transition-property(background-color);
  @include transition-timing-function(ease-in);
  @include transition-duration(200ms);
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(space-between);
  
  padding: 15px;
  cursor: pointer;
  figure {
    margin-top: 15px;
  }
  img {
    width: 100%;
  }
  &:nth-of-type(5n+0) {
    border: 4px solid $material-red;
    background-color: lighten($material-red, 50%);
  }
  &:nth-of-type(5n+1) {
    border: 4px solid $material-purple;
    background-color: lighten($material-purple, 50%);
  }
  &:nth-of-type(5n+2) {
    border: 4px solid $material-blue;
    background-color: lighten($material-blue, 50%);
  }
  &:nth-of-type(5n+3) {
    border: 4px solid $material-green;
    background-color: lighten($material-green, 50%);
  }
  &:nth-of-type(5n+4) {
    border: 4px solid $material-orange;
    background-color: lighten($material-orange, 50%);
  }
  &:hover {
    @include box-shadow(#222 2px 2.5px 5px);
    background-color: #fff;
  }
  .card-title {
    font-size: 2rem;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #666;
    text-transform: capitalize;
    color: #222;
  }
  .card-description {
    color: #333;
    margin-bottom: 15px;
  }
  .tags {
    font-size: 1rem;
  }
}