#contact {
  @include display-flex;
  @include align-items(center);
  
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #333;
    content: " ";
  }
  .section-title {
    color: #eee;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .underline {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1.5rem;
  }
  dl {
    color: #eee;
    font-size: 1.5rem;
  }
  .text-side {
    text-align: right;
  }
}