#works {
  padding-top: 100px;
  padding-bottom: 4rem;
  .steel-modal {
    @include background-image(radial-gradient(ellipse farthest-corner at 45px 45px, #eee 0%, #ccc 50%));
    @include border-radius(10px);
    padding: 15px;
  }
  .modal-title {
    text-align: center;
    border-bottom: 25px solid #286090;
  }
  .btn-group {
    padding-bottom: 0px;
    margin-top: 15px;
    text-transform: uppercase;
    @include box-shadow(#aaa 0 -3px 10px 2px);
  }
  .btn-primary {
    border-bottom: 1px solid #286090;
  }
  .meta-data {
    margin-top: 15px;
    padding: 15px;
    background-color: #ddd;
    text-align: right;
    @include box-shadow(#eee 0 2px 2px 1px inset, #bbb 0 -2px 5px 1px inset);
    @include border-top-radius(15px);
  }
  .cards {
    @include box-shadow(#bbb 0 -2px 5px 1px inset);
    padding: 5px 30px;
  }
  .card {
    @include box-shadow(#bbb 0 0px 4px 2px inset, #888 3px 3px 1px 1px);
    @include transition-property(background-color);
    @include transition-timing-function(ease-in);
    @include transition-duration(300ms);
    @include border-radius(5px);
    border: 1px solid #ccc;
    padding: 5px;
    padding-bottom: 10px;
    background-color: #f2f2f2;
    &:hover {
      background-color: #fff;
      @include box-shadow(#666 3px 3px 3px 3px);
    }
  }
  .card-title {
    text-align: center;
    font-size: 1.75rem;
    text-transform: capitalize;
    color: #2979FF;
    font-weight: bolder;
  }
  .card-status {
    @include box-shadow(#FFE0B2 0 2px 3px 1px inset, #F57C00 0 -2px 3px 1px inset);
    background-color: #FF9800;
    
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }
  .screenshot-icons {
    margin-top: 10px;
    
  }
  .short-description {
    padding: 10px 15px;
  }
  .centered {
    text-align: center;
  }
}