#works {
  padding-top: 100px;
  padding-bottom: 4rem;
  .steel-modal {
    @include background-image(radial-gradient(ellipse farthest-corner at 45px 45px, #eee 0%, #ccc 50%));
    @include border-radius(10px);
    padding: 15px;
  }
  .modal-title {
    text-align: center;
    border-bottom: 25px solid #286090;
  }
  .main-btn-group {
    padding-bottom: 0px;
    margin-top: 15px;
    text-transform: uppercase;
    @include box-shadow(#aaa 0 -3px 10px 2px);
  }
  .btn-primary {
    border-bottom: 1px solid #286090;
  }
  .meta-data {
    margin-top: 15px;
    padding: 15px;
    background-color: #ddd;
    text-align: right;
    @include box-shadow(#eee 0 2px 2px 1px inset, #bbb 0 -2px 5px 1px inset);
    @include border-top-radius(15px);
  }
  .cards {
    @include box-shadow(#bbb 0 -2px 5px 1px inset);
    padding: 5px 30px;
  }
  
  .centered {
    @include display-flex;
    @include justify-content(center);
  }
}