@import "templates";
@import "components";

#compass-nav {
  color: #fff;
  position: fixed;
  right: 5px;
  top: 0;
  margin-top: 5px;
  margin-right: 10px;
  z-index: 2;
  @include display-flex;
  @include justify-content(center);
  @include flex-direction(column);
  @include align-items(center);
  .mid {
    @include display-flex;
    @include justify-content(space-between);
    min-width: 55px;
  }
  a {
    color: #aaa;
    font-size: 1.25rem;
    @include transition-property(font-size);
    @include transition-duration(200ms);
    @include transition-timing-function(ease-in);
  }
  .active {
    color: #eee;
    font-size: 1.5rem;
  }
}

#border-top-nav {
  position: fixed;
  width: 100%;
  top: 10px;
  left: 0;
  z-index: 1;
  @include display-flex;
  @include justify-content(center);
  .top {
    width: 80%;
    font-size: 2rem;
    color: #999;
    padding-top: 10px;
    padding-bottom: 10px;
    @include display-flex;
    @include justify-content(center);
    @include transition-property(background-color);
    @include transition-timing-function(ease-in);
    @include transition-duration(200ms);
    &:hover {
      @include opacity(0.7);
      @include box-shadow(#222 1.5px -2px 4px);
      background: {
        color: #555;
      }
      color: #eee;
    }
  }
}


#border-bot-nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  @include display-flex;
  @include justify-content(center);
  .bot {
    width: 80%;
    font-size: 2rem;
    color: #999;
    padding-top: 10px;
    padding-bottom: 10px;
    @include display-flex;
    @include justify-content(center);
    @include transition-property(background-color);
    @include transition-timing-function(ease-in);
    @include transition-duration(200ms);
    &:hover {
      @include opacity(0.7);
      @include box-shadow(#222 1.5px -2px 4px);
      background: {
        color: #555;
      }
      color: #eee;
    }
  }
}

#border-left-nav {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  @include display-flex;
  @include align-items(center);
  .left {
    height: 80%;
    font-size: 2rem;
    color: #999;
    padding-left: 10px;
    padding-right: 10px;
    @include display-flex;
    @include align-items(center);
    @include transition-property(background-color);
    @include transition-timing-function(ease-in);
    @include transition-duration(200ms);
    &:hover {
      @include opacity(0.7);
      @include box-shadow(#222 1.5px 2px 4px);
      background: {
        color: #555;
      }
      color: #eee;
    }
  }
}

#border-right-nav {
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  @include display-flex;
  @include align-items(center);
  .right {
    height: 80%;
    font-size: 2rem;
    color: #999;
    padding-left: 10px;
    padding-right: 10px;
    @include display-flex;
    @include align-items(center);
    @include transition-property(background-color);
    @include transition-timing-function(ease-in);
    @include transition-duration(200ms);
    &:hover {
      @include opacity(0.7);
      @include box-shadow(#222 -1.5px 2px 4px);
      background: {
        color: #555;
      }
      color: #eee;
    }
  }
}

#application {
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
}


#footer {
  @include display-flex;
  @include align-items(center);
  @include justify-content(center);
  min-height: 125px;
  color: #888;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #444;
  .outlink {
    color: #888;
  }
  .footer-title {
    text-transform: capitalize;
    font-size: 1.5rem;
  }
}

.modal-box {
  @include border-radius(10px);
  @include box-shadow(#FFF8E1 0 2px 5px);
  border: 4px solid #2196F3;
  padding: 15px;
  background: {
    color: #eee;
  }
}